h1 {
  color: rgb(12, 50, 49);
  text-shadow: violet;
  font-size: 2em; /* Adjust font size as per your preference */
  padding: 20px; /* Adjust padding for desktop */
}
h2 {
  color: rgb(12, 50, 49);
  text-shadow: violet;
  font-size: 2em; /* Adjust font size as per your preference */
  padding: 20px; /* Adjust padding for desktop */
}



.enter {
  color: rgb(31, 34, 34);
  text-shadow: 200px rgb(25, 23, 25);
  font-size: 1.2em; /* Adjust font size as per your preference */
  padding: 10px; /* Adjust padding for desktop */
}

.rectangular-container {
  width: 80%; /* Adjust the width as a percentage for better responsiveness */
  max-width: 600px; /* Set the desired maximum width */
  height: 400px; /* Set the desired height */
  background-color: #cde1f2;
  border: 2px solid #c2e8f3;
  box-shadow: 0 0 20px rgba(53, 11, 242, 0.2);
  margin: 20px auto; /* Center the container horizontally and provide vertical margin */
  padding: 20px; /* Adjust padding for desktop */
}

.fill {
  color: #141415;
}

.rectangular-container-p1 {
  width: 80%; /* Adjust the width as a percentage for better responsiveness */
  max-width: 600px; /* Set the desired maximum width */
  height: 600px;
  background-color: #b8ddfc;
  border: 2px solid #c2e8f3;
  box-shadow: 0 0 20px rgba(53, 11, 242, 0.2);
  margin: 20px auto; /* Center the container horizontally and provide vertical margin */
  padding: 20px; /* Adjust padding for desktop */
}

.inbox {
  background-color: #f6d1d1;
  border: 2px solid #333;
  box-shadow: 0 0 20px rgba(56, 22, 205, 0.2);
  margin: 20px auto; /* Center the container horizontally and provide vertical margin */
  padding: 20px; /* Adjust padding for desktop */
}

.div2 {
  background: linear-gradient(45deg, rgba(244, 53, 10, 0.7), rgba(0, 82, 212, 0.7));
  padding: 20px; /* Adjust padding for desktop */
}

/* Mobile Styles */
@media (max-width: 768px) {
  h1,
  .h22,
  .enter,
  .rectangular-container,
  .rectangular-container-p1,
  .inbox,
  .div2 {
    padding: 10px; /* Adjust padding for mobile */
  }
}
